*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-sp{
    background-color: black;
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    width: 100%;
    margin-left: 5rem;
}
.logo img{
    height: 100%;
}
.btn-sidebar{
    color: white;
    font-size: 26px;
    padding: 1.5rem;
    display: none;
}
.navbar{
    display: flex;
    justify-content: flex-end   ;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-right: 8rem;
}
.ul-navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 100%;
}
.navbar ul a{
    text-decoration: none;
}
.navbar ul li{
    color: white;
    font-weight: 500;
    max-width: 160px;
}
.section-one{
    background-color:rgb(150, 240, 182);
    height: 85%;
    display: flex;
    flex-direction: row;
    padding: 3rem 5rem 5rem 5rem;
    justify-content: space-evenly;
}
.section-one-box1{
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 1rem 1rem 1rem;
}
.h3-section-one{
    color: #202f72;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.h1-section-one{
    color: #202f72;
    font-size: 60px;
    max-width: 80%;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
}
.h2-section-one{
    color: #202f72;
    max-width: 90%;
    font-weight: 450;
}
.btn-section-one{
    background-color: #202f72;
    border: 0 none;
    color: rgb(150, 240, 182);
    padding: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    width: 50%;
    height: 50px;
    font-size: 16px;
}
.btn-section-one:hover{
 background-color: #1c2963;
}
.p-section-one{
    color: #202f72;
    font-size: 12px;
    max-width: 80%;
}
.section-one-box2{
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-two{
    background-color: #F46EBE;
    height: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
.section-two-box1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 6rem;
}
.links-apps-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-two-box2{
    background-color: red;
    height: 100%;
}
.img-section-box2{
    height: 100%;
    width: 100%;
}
.section-three{
    height: 80%;
    background-color: rgb(41, 65, 171);
    background-image: url(img/fundo-section3.svg);
    background-repeat: round;
    display: flex;
    flex-direction: row;
}
.h3-section-three{
    color: #1ED760;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.h1-section-three{
    color: #1ED760;
    font-size: 60px;
    max-width: 80%;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
}
.h2-section-three{
    color: #1ED760;
    max-width: 90%;
    font-weight: 450;
}
.section-three-box1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    padding: 1rem;
    margin-left: 6rem;
}
.btn-section-three{
    background-color: #1ED760;
    border: 0 none;
    color: #2941AB;
    font-weight: 500;
    padding: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    width: 50%;
    height: 50px;
    font-size: 16px;
}
footer{
    background-color: black;
    color: white;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}
.footer-box1{
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-box2{
    padding-top:3rem;
    height: 10%;
    display: flex;
    flex-direction: row;
}
.space1-footer{
    width: 12%;
    height: 20%;
    height: 100%;
    padding-top: 1rem;
}
.space1-footer img{
    width: 100%;
}
.space2-footer{
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.space2-footer h4, .space3-footer h4{
    color:#919496;
    text-transform: uppercase;
}
.space2-footer a, .space3-footer a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 40%;
}
.space2-footer a:hover, .space3-footer a:hover{
    color: #1ED760;
}

.space3-footer{
    width: 20%;
    height:94%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.space4-footer{
    width: 16%;
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: space-evenly;
    padding-top: 4rem;
}
.icon-footer{
    background-color: #222326;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.icon-footer i{
    font-size: 30;
    color: white;
}
.icon-footer i:hover{
    color: #1ED760;
}
.space1-footer-box2{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.termos-footer{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
}
.termos-footer a{
    color: #919496;
    text-decoration: none;
    font-size: 12px;
}
.termos-footer a:hover{
    color: #1ED760;
}
.copyright{
    width: 20%;
    display: flex;
    justify-content: center;
}
.copyright span{
    color: #919496;
    font-size: 12px;
}




/*Para aparecer botão menu*/
@media(max-width:1259px){
    .navbar{
        display: none;
    }
    .btn-sidebar{
        display: flex;
    }
}

@media(max-width:1130px){
    .section-one{
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }
    .section-one-box1{
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        padding: 1rem 0 0 0;
    }
    .section-one-box2{
        width: 100%;
    }
    .h1-section-one{
        width: 100%;
    }
    .h3-section-one{
        align-self: center;
    }
    .p-section-one{
        text-align: center;
    }
    .section-two{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-two-box1{
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0;
        height: 80%;
        justify-content: space-around;
    }
    .section-two-box2{
        display: none;
    }
    .section-three{
        background-image: none;
    }
    .section-three-box1{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
        justify-content: space-evenly;
    }
    .space4-footer{
        flex-direction: column;
        height: 50%;
    }
    .space1-footer{
        display: none;
    }
    .footer-box2{
        flex-direction: column;
    }
}
@media (max-width:569px){
    .section-one-box1{
        height: 100%;
        padding: 1rem 0;
    }
    .section-one-box2{
      display: none;
    }
    .btn-section-one, .btn-section-three{
        width: 90%;
    }
    .h1-section-one{
        width: 100%;
        font-size: 40px;
    }
    .footer-box1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .space4-footer{
        flex-direction: row;
        width: 100%;
        padding: 0;
        align-items: center;
        padding-bottom: 1rem;
    }
    .space2-footer, .space3-footer{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-box2{
        padding: 0;
    }
    .termos-footer{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
@media (max-width:280px){
    .logo{
        height: 50%;
    }
    .section-two-box1{
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 90%;
        justify-content: space-around;
        text-align: center;
    }
    .h1-section-one{
        font-size: 30;
    }
}
@media(max-width:320px){
    .h1-section-one, .h1-section-three{
        font-size: 20;
    }
    .h2-section-one, .h2-section-three{
        font-size: 16;
    }
    .footer-box1 a{
        font-size: 10;
    }
    .footer-box2{
        font-size: 1;
    }
}
@media (max-height:420px){
    .section-one-box2{
        display: none;
    }
    .section-one, .section-two, .section-three{
        height: 120%;
    }
    .section-two-box1{
        text-align: center;
    }
    .h1-section-one, .h1-section-three{
        font-size: 30;
    }
}
