*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-sp{
    background-color: black;
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100%;
    width: 100%;
    margin-left: 5rem;
}
.logo img{
    height: 100%;
}
.btn-sidebar{
    color: white;
    font-size: 26px;
    padding: 1.5rem;
    display: none;
}
.navbar{
    display: flex;
    justify-content: flex-end   ;
    align-items: center;
    width: 70%;
    height: 100%;
    margin-right: 8rem;
}
.ul-navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 100%;
}
.navbar ul a{
    text-decoration: none;
}
.navbar ul li{
    color: white;
    font-weight: 500;
    max-width: 160px;
}
.section-one{
    background-color:rgb(150, 240, 182);
    height: 85%;
    display: flex;
    flex-direction: row;
    padding: 3rem 5rem 5rem 5rem;
    justify-content: space-evenly;
}
.section-one-box1{
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 1rem 1rem 1rem;
}
.h3-section-one{
    color: #202f72;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.h1-section-one{
    color: #202f72;
    font-size: 60px;
    max-width: 80%;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
}
.h2-section-one{
    color: #202f72;
    max-width: 90%;
    font-weight: 450;
}
.btn-section-one{
    background-color: #202f72;
    border: 0 none;
    color: rgb(150, 240, 182);
    padding: 1rem;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    width: 50%;
    height: 50px;
    font-size: 16px;
}
.btn-section-one:hover{
 background-color: #1c2963;
}
.p-section-one{
    color: #202f72;
    font-size: 12px;
    max-width: 80%;
}
.section-one-box2{
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-two{
    background-color: #F46EBE;
    height: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
.section-two-box1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 6rem;
}
.links-apps-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section-two-box2{
    background-color: red;
    height: 100%;
}
.img-section-box2{
    height: 100%;
    width: 100%;
}
@media(max-width:1259px){
    .navbar{
        display: none;
    }
    .btn-sidebar{
        display: flex;
    }
}
@media(max-width:1130px){
    .section-one{
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }
    .section-one-box1{
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        padding: 1rem 0 0 0;
    }
    .section-one-box2{
        width: 100%;
    }
    .h1-section-one{
        width: 100%;
    }
    .h3-section-one{
        align-self: center;
    }
    .p-section-one{
        text-align: center;
    }
    .section-two{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-two-box1{
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0;
        height: 80%;
        justify-content: space-around;
    }
    .section-two-box2{
        display: none;
    }
}
@media (max-width:569px){
    .section-one-box1{
        height: 100%;
        padding: 1rem 0;
    }
    .section-one-box2{
      display: none;
    }
    .btn-section-one{
        width: 90%;
    }
    .h1-section-one{
        width: 100%;
        font-size: 40px;
    }
}
@media (max-width:280px){
    .logo{
        height: 50%;
    }
    .section-two-box1{
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 90%;
        justify-content: space-around;
        text-align: center;
    }
    .h1-section-one{
        font-size: 30;
    }
}
@media (max-height:420px){
    .section-one-box2{
        display: none;
    }
    .section-one{
        height: 120%;
    }
}